.plantquest-tool-building {
  box-sizing: border-box;
  width: 100px;
}

.leaflet-toolbar-0 {
  list-style: none;
  padding-left: 0;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.leaflet-control-toolbar>li {
  margin: 0px;
}

.leaflet-toolbar-0>li {
  position: relative;
}

.plantquest-tool-select-building {}

.leaflet-control-toolbar>li:first-child>.leaflet-toolbar-icon {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-toolbar-0>li>.leaflet-toolbar-icon:hover {
  background-color: #f4f4f4;
}

.leaflet-toolbar-0>li>.leaflet-toolbar-icon {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.plantquest-tool-building .leaflet-toolbar-icon {
  width: 100% !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 4px;
  box-sizing: border-box;
}

.plantquest-tool-select-building-active a {
  background-color: #CCC !important;
}

.leaflet-container a {
  color: #0078a8;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}
