
.pqs-map-control-group {
    position: relative;
}

.pqs-map-control-group-activate {
    background-color: #FFF;
    position: absolute;
    top: 0;
    right: 16px;
    width: 42px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);
}

.pqs-map-control-group-menu {
    position: absolute;
    top: 0px;
    right: 64px;
    width: 200px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);

}

.pqs-map-control-group-active {
    background-color: #CCC !important;
}

li.pqs-map-control-group-menu-head {
  font-weight: bold;
}

.pqs-map-control-group-menu > ul {
    background-color: #FFF;
    padding: 0;
    margin: 0;
}

.pqs-map-control-group-menu > ul > li {
    background-color: #FFF;
    padding: 4px;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}
