.leaflet-marker-icon .asset-marker {
  background-color: #6ecc3999;
  border-radius: 50%;
  color: black;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #b5e28c99;
}

.marker-cluster {
  background-color: yellow;
  border-radius: 50%;
  color: black;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
}